@import "fonts.less";
@import "color-scheme.less";
@import "header.less";
@import "banner.less";
@import "projects.less";
@import "personal-projects.less";
@import "team-projects.less";
@import "skills.less";
@import "content.less";
@import "bio.less";
@import "testimonials.less";
@import "footer.less";



html, body {
    font-family: @primary-font;
    padding: 0 !important;
    color: @gray !important;
}
