@import "color-scheme.less";


.personal {
    display: none;
    width: 0%;
    .personal-projects {
        height: 300px;
        background-color: @off-white;
        color: @off-white;
        border-bottom: 3px solid @op-blue;
        div img {
            height: 200px;
        }
        div h3 {
            background-color: @dark-blue;
        }
    }
}
