
<div class="personal-projects">
    <div class="col-xs-12 col-md-6 personal-col_one">
        <!-- <img src="../images/pet-store.jpg" alt="#" /> -->
        <h3>Project 1</h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".personal-project_one">Large modal</button>
    </div>
    <!-- Large modal -->

    <div class="modal fade personal-project_one" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 personal-col_two">
        <!-- <img src="../images/restaurante.jpg" alt="#" /> -->
        <h3>Project 2</h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".personal-project_two">Large modal</button>
    </div>
    <!-- Large modal -->

    <div class="modal fade personal-project_two" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
</div>
