<div class="team-projects">
    <div class="col-xs-12 col-md-6">
        <ul class="grid cs-style-4">
            <li>
                <figure>
                    <div><img src="images/victims-desktop.png" alt="img05"></div>
                    <figcaption>
                        <h3>1800 Victims</h3>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#team-project_one">More Details</button>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade team-project" id="team-project_one" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-img_align">
                        <div class="col-md-5">
                            <h2>1800 Victims</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima mollitia nihil, molestias at consequatur beatae tempora aspernatur sed dolorum, dolores quos ut tenetur asperiores molestiae!</p>
                        </div>
                        <div class="col-md-7">
                            <img src="images/victims-responsive.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <h3>Languages / Frameworks Used</h3>
                    <div class="modal-lang_used">
                        <p>HTML</p>
                        <p>Bootsrap</p>
                        <p>CSS</p>
                        <p>Less</p>
                        <p>Javascript</p>
                        <p>jQuery</p>
                        <p>php</p>
                        <p>MySQL</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="http://1800.shift3sandbox.com/" class="btn btn-primary" target="_blank">Visit Site</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <ul class="grid cs-style-4">
            <li>
                <figure>
                    <div><img src="images/fab-five.png" alt="img05"></div>
                    <figcaption>
                        <h3>Fab 5</h3>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#team-project_two">More Details</button>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <!-- Modal -->
    <div class="modal fade team-project" id="team-project_two" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-img_align">
                        <div class="col-md-5">
                            <h2>Fab Five</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem odit soluta quibusdam, aliquam tempora distinctio in amet, labore quas autem. Neque, odio explicabo dolorem.</p>
                        </div>
                        <div class="col-md-7">
                            <img src="images/fab-responsive.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <h3>Languages / Frameworks Used</h3>
                    <div class="modal-lang_used">
                        <p>HTML</p>
                        <p>Bootsrap</p>
                        <p>CSS</p>
                        <p>Less</p>
                        <p>jQuery</p>
                        <p>Angular</p>
                        <p>Node js</p>
                        <p>Express js</p>
                        <p>MongoDB</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="http://104.131.141.79:3000/#!/home" class="btn btn-primary" target="_blank">Visit Site</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
