@import "../color-scheme.less";

.footer {
    background-color: @pastelle-red;
    background-size: cover;
    text-align: center;
    .footer-content {
        color: @off-white;
        .footer-column_one,
        .footer-column_two,
        .footer-column_three {
            hr {
                color: @off-white;
            }
            a {
                color: @pastelle-red;
                text-decoration: none;
            }
        }
        .footer-social {
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                margin: 2%;
                .fa-stack-1x {
                    
                }
            }
        }
    }
}
