@import "../color-scheme.less";


team-projects {
    display: inline-block;
    width: 0%;
    transition: 0.3s;
    &.team_open {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        transition: 0.3s;
    }
    .team-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background-color: @off-white;
        color: @off-white;
        transition: 0.3s;
        .team-project {
            .modal-dialog {
                .modal-content {
                    .modal-body {
                        color: #333;
                        .modal-img_align {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #333;
                            .col-md-5 {
                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                        h3 {
                            padding: 15px;
                        }
                        .modal-lang_used {
                            color: #333;
                            display: flex;
                            justify-content: space-around;
                            p {
                                font-size: 18px;
                            }
                            .img-responsive {
                                max-width: 100px;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
