

<div class="bio-columns">
    <div class="bio-container">
        <div class="bio-content_info">
            <img src="images/left-bracket.svg" alt="brackets" class="img-responsive frame">
            <div class="about-content">
                <h1>About Me</h1>
                <h3>I'm a Web Developer from Fresno, CA</h3>
                <p>
                    I love to laugh. You may be thinking, "Yeah man, who doesn't". Let me explain, any time I'm with my friends my goal is almost always to try and make them laugh. So what does that have to with being a web developer? It helps a little with UI UX, but mostly it just makes for a fun workplace. When I'm not telling jokes, you can usually find me drooling over sweet animations and designs, drinking way too much coffee, pulling my hair out over buggy code, or building my latest "wouldn't it be cool if..." project. If you are looking for a well rounded developer with a fun personality and a love for design, I'm the guy for you!
                </p>
            </div>
            <img src="images/right-bracket.svg" alt="brackets" class="img-responsive frame">
            <img src="images/profile-pic.jpg" alt="Mark Rogers" class="profile-pic">
        </div>
        <!-- <div class="collapse" id="collapseExample">
          <div class="well">
              <p>
                  I love to laugh. Now I know you might be thinking, "Yeah man, who doesn't". Let me explain, I listen to more stand up comedy than music. Any time I'm with my friends, my goal is almost always to try and make them laugh. Ok, we get it, you love to laugh. What does that have to with being a web developer? It helps a little with UI UX, but mostly it just makes for a fun workplace. When I'm not telling jokes, you can usually find me drooling over sweet animations and designs, drinking way too much coffee, pulling my hair out over buggy code, or building my latest "wouldn't it be cool if..." project. I consider myself a web developer with web design aspirations. If you are looking for a well rounded developer with a fun personality and a love for design, I'm the guy for you!(incomplete)
              </p>
          </div>
        </div> -->
    </div>
</div>
