

<div class="bio-columns">
    <div class="container">
        <div class="col-xs-7 bio-header">
            <h1>About [<span>MR</span>]</h1>
        </div>
        <div class="col-xs-12 col-md-5 bio-picture">
            <img src="../images/profile-pic.jpg" alt="Mark Rogers" />
        </div>
        <hr>
        <div class="col-xs-12 col-md-7 bio-content">
            <h3>I'm a Web Developer from Fresno, CA</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <!-- <div class="bio-social">
                <h3></h3>
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div> -->
        </div>
        <div class="col-xs-12 col-md-5 bio-sidebar">
            <h3>Lorem Ipsum</h3>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </h3>
        </div>
    </div>
</div>
