

<div class="bio-columns">
    <div class="bio-container">
        <div class="col-md-8 bio-content_bg">
            <div class="bio-content_info">
                <h1>About Me</h1>
                <h3>I'm a Web Developer from Fresno, CA</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="col-md-4 bio-content">
            <img src="../images/profile-pic.jpg" alt="Mark Rogers">
        </div>
    </div>
</div>
