<div class="home-content">
    <div class="container-fluid">
        <div class="col-xs-12 col-md-4 content-left">
            <img src="images/Multicolor/SVG/round-icons/Coding-Html.svg" alt="programmer" />
            <h3>Clean, DRY code that can be passed easily from programmer to programmer.</h3>
        </div>
        <div class="col-xs-12 col-md-4 content-right">
            <img src="images/Multicolor/SVG/round-icons/Application-Map.svg" alt="programmer" />
            <h3>Modern, mobile friendly designs using the latest responsive technologies.</h3>
        </div>
        <div class="col-xs-12 col-md-4 content-left">
            <img src="images/Multicolor/SVG/round-icons/Checklist.svg" alt="programmer" />
            <h3>Well organized approach and implementation of team, and individual tasks alike.</h3>
        </div>
    </div>
</div>
