

<div class="contact">
    <div class="container contact-content">
        <div class="col-xs-12 col-md-4 contact-column_one">
            <hr>
            <a href="mailto:markrogers.bitwise@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <h2>Shoot me an email</h2>
            <p>
                markrogers.bitwise@gmail.com
            </p>
        </div>
        <div class="col-xs-12 col-md-4 contact-column_two">
            <hr>
            <a href="tel:+1-(559)-930-1739">
                <i class="fa fa-phone" aria-hidden="true"></i>
            </a>
            <h2>Give me a call</h2>
            <p>
                (559) 930-1739
            </p>
        </div>
        <div class="col-xs-12 col-md-4 contact-column_three">
            <hr>
            <a href="../README.md" download>
                <i class="fa fa-file-text" aria-hidden="true"></i>
            </a>
            <h2>Download my resume</h2>
            <p>
                You know you want to...
            </p>
        </div>
        <div class="contact-social">
            <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
