

<div class="footer">
    <div class="container footer-content">
        <div class="col-xs-12 col-md-4 footer-column_one">
            <hr>
            <a href="mailto:markrogers.bitwise@gmail.com">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <h2>Shoot me an email</h2>
            <p>
                markrogers.devdesign@gmail.com
            </p>
        </div>
        <div class="col-xs-12 col-md-4 footer-column_two">
            <hr>
            <a href="tel:+1-(559)-930-1739">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <h2>Give me a call</h2>
            <p>
                (559) 930-1739
            </p>
        </div>
        <div class="col-xs-12 col-md-4 footer-column_three">
            <hr>
            <a href="https://markrogers9109.github.io/dev-portfolio/Mark-Rogers-Resume.pdf" download>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <h2>Download my resume</h2>
            <p>
                You know you want to...
            </p>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/markrogers.devdesign" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/in/mark-rogers-93a192107/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://github.com/markrogers9109" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </div>
</div>
