<div class="navcontainer">
    <div class="main">
        <aside class="sidebar">
          <nav class="nav">
            <ul class="nav-items">
              <li class="nav-title">Pages</li>
              <li><a href="#" class="nav-link">Home</a></li>
              <li><a href="#" class="nav-link">Products</a></li>
              <li><a href="#" class="nav-link">Services</a></li>
              <li><a href="#" class="nav-link">About</a></li>
              <li><a href="#" class="nav-link">News</a></li>
            </ul>
            <!-- <div class="sidebar-separator"></div>
            <ul class="nav-items">
              <li class="nav-title">More</li>
              <li><a href="#" class="nav-link">Contact</a></li>
              <li><a href="#" class="nav-link">Support</a></li>
              <li><a href="#" class="nav-link">Careers</a></li>
            </ul> -->
          </nav>
        </aside>
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
    </div>
</div>
