<div ng-controller="homeAnimationCtrl" ng-class="{'show-sidebar': showNav==true}" class="navcontainer">
    <div class="main">
        <aside class="sidebar">
          <div class="nav">
            <ul class="nav-items">
              <li ng-click="toggleNav()" class="nav-title"><a class="smoothScroll" href="#top">[MR]</a></li>
              <li ng-click="toggleSlideNav(1)"><a href="#skills" id="scrollSkills" class="nav-link">Skills</a></li>
              <li ng-click="toggleSlideNav(2)"><a href="#personal" class="nav-link">Experience</a></li>
              <li ng-click="toggleSlideNav(3)"><a href="#team" class="nav-link">Work</a></li>
              <li ng-click="toggleNav()"><a href="#about" class="nav-link smoothScroll">About Me</a></li>
              <li ng-click="toggleNav()"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
        </aside>
        <div ng-click="toggleNav()" class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
    </div>
</div>
