<div class="navcontainer">
    <div class="main">
        <aside class="sidebar">
          <nav class="nav">
            <ul class="nav-items">
              <li class="nav-title"><a class="smoothScroll" href="#top">[MR]</a></li>
              <li><a ui-sref="about" class="nav-link">About Me</a></li>
              <li><a href="#skills" class="nav-link smoothScroll skills">Skills & Testimonials</a></li>
              <li><a href="#personal" class="nav-link smoothScroll personal">Personal Projects</a></li>
              <li><a href="#team" class="nav-link smoothScroll team">Team Projects</a></li>
              <li><a href="#" class="nav-link">Contact</a></li>
            </ul>
          </nav>
        </aside>
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
    </div>
</div>
