<div id="projects" class="projects-columns">
    <div id="skills"></div>
    <div ng-click="oneSlide()" class="col-xs-12 col-md-4 projects-column_one">
        <i class="fa fa-superpowers" aria-hidden="true"></i>
        <h3 class="display-three">Superpowers</h3>
    </div>
    <super-powers id="super-powers"></super-powers>
    <div id="personal"></div>
    <div ng-click="twoSlide()" class="col-xs-12 col-md-4 projects-column_two">
        <i class="fa fa-user" ardia-hidden="true"></i>
        <h3 class="display-three">Personal Projects</h3>
    </div>
    <personal-projects id="personal-projects"></personal-projects>
    <div id="team"></div>
    <div ng-click="threeSlide()" class="col-xs-12 col-md-4 projects-column_three">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h3 class="display-two">Team Projects</h3>
    </div>
    <team-projects id="team-projects"></team-projects>
</div>
