<div class="skills-container">
    <div class="col-xs-12 skill-levels">
        <h3>Noob</h3>
        <h3 class="skill-border_left">Novice</h3>
        <h3 class="skill-border_both">Savage</h3>
        <h3>Wizard</h3>
    </div>
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <span>HTML / Bootstrap</span>
                <span class="sr-only">HTML</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                CSS
                <span class="sr-only">CSS</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                Javascript
                <span class="sr-only">Javascript</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                Wordpress
                <span class="sr-only">Wordpress</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                Illustrator
                <span class="sr-only">Illustrator</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                Photoshop
                <span class="sr-only">Photoshop</span>
            </div>
        </div>
    </div>
</div>
