<div class="testimonials-container">
    <div class="container testimonials-content">
        <div class="col-xs-12">
            <h2>Testimonials</h2>
        </div>
        <div class="col-xs-4">
            <p>
                <b>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</b>
            </p>
            <p>
                <i>- Lorem Ipsum</i>
            </p>
        </div>
        <div class="col-xs-4">
            <p>
                <b>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</b>
            </p>
            <p>
                <i>- Lorem Ipsum</i>
            </p>
        </div>
        <div class="col-xs-4">
            <p>
                <b>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</b>
            </p>
            <p>
                <i>- Lorem Ipsum</i>
            </p>
        </div>
    </div>
</div>
